Capstone Project 
Python Fundamentals

Task 1
There are three different tables as given above. Please make three dataframe in python and save them as three .csv files. From Task 2 to Task 10, use the saved.csv files only.

In [1]:
# Import the pandas library, which provides data structures and data analysis tools for Python
import pandas as pd

# Define data for the Employee DataFrame as a dictionary
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],  # Unique identifier for each employee
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],  # Full name of the employee
    'Gender': ['M', 'F', 'M', 'F', 'F'],  # Gender of the employee: 'M' for Male, 'F' for Female
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],  # City where the employee is based
    'Age': [25, 27, 29, 31, 30]  # Age of the employee
}

# Create the Employee DataFrame using the employee_data dictionary
employee_df = pd.DataFrame(employee_data)

# Save the Employee DataFrame to a CSV file named 'Employee.csv', without including the index column
employee_df.to_csv('Employee.csv', index=False)

# Define data for the Seniority Level DataFrame as a dictionary
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],  # Unique identifier for each employee (matches Employee DataFrame)
    'Designation Level': [2, 2, 3, 2, 3]  # Designation level of the employee (1 = highest, 4 = lowest)
}

# Create the Seniority Level DataFrame using the seniority_data dictionary
seniority_df = pd.DataFrame(seniority_data)

# Save the Seniority Level DataFrame to a CSV file named 'Seniority_Level.csv', without including the index column
seniority_df.to_csv('Seniority_Level.csv', index=False)

# Define data for the Project DataFrame as a dictionary
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 
           'A001', 'A004', 'A004', 'A005'],  # Unique identifier for each employee managing the project
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 
                'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 
                'Project 11', 'Project 12', 'Project 13', 'Project 14'],  # Name of the project
    'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 
             2000000, 1000000, 3000000, 200000],  # Project cost, with some missing values represented by 'None'
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 
               'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 
               'Finished', 'Finished']  # Status of the project, such as Finished, Ongoing, or Failed
}

# Create the Project DataFrame using the project_data dictionary
project_df = pd.DataFrame(project_data)

# Save the Project DataFrame to a CSV file named 'Project.csv', without including the index column
project_df.to_csv('Project.csv', index=False)

# Print a confirmation message indicating that all CSV files have been created
print("CSV files created: Employee.csv, Seniority_Level.csv, Project.csv")

CSV files created: Employee.csv, Seniority_Level.csv, Project.csv

Task 2
The cost column in the dataframe “Project” has some missing values. Your task is to compute these missing values. Replace the missing values by running average. You should use the “For” loop for this task.

In [2]:
# Import necessary libraries
import pandas as pd

# Load the Project DataFrame from the saved CSV file
project_df = pd.read_csv('Project.csv')

# Initialize a variable to store the running total and count for computing the running average
running_total = 0
count = 0

# Iterate through each row in the DataFrame
for index, row in project_df.iterrows():
    if pd.notna(row['Cost']):  # Check if the Cost value is not missing
        running_total += row['Cost']  # Add the current cost to the running total
        count += 1  # Increment the count of non-missing values
    else:
        # Calculate the running average and assign it to the missing cost
        project_df.at[index, 'Cost'] = running_total / count  # Fill missing value with the running average

# Save the modified DataFrame back to CSV (optional, for later tasks)
project_df.to_csv('Project_Filled.csv', index=False)

# Display the updated DataFrame
print(project_df)

      ID     Project          Cost    Status
0   A001   Project 1  1.002000e+06  Finished
1   A002   Project 2  2.000000e+06   Ongoing
2   A003   Project 3  4.500000e+06  Finished
3   A004   Project 4  5.500000e+06   Ongoing
4   A005   Project 5  3.250500e+06  Finished
5   A002   Project 6  6.800000e+05    Failed
6   A005   Project 7  4.000000e+05  Finished
7   A003   Project 8  3.500000e+05    Failed
8   A001   Project 9  2.061714e+06   Ongoing
9   A003  Project 10  3.000000e+05  Finished
10  A001  Project 11  2.000000e+06    Failed
11  A004  Project 12  1.000000e+06   Ongoing
12  A004  Project 13  3.000000e+06  Finished
13  A005  Project 14  2.000000e+05  Finished

Task 3
Split the name column in the Employee dataframe into two new columns “First Name” 
and “LastName” and remove the older “name” column.

In [3]:
# Import necessary libraries
import pandas as pd

# Load the Employee DataFrame from the saved CSV file
employee_df = pd.read_csv('Employee.csv')

# Ensure all values in the 'Name' column are strings, then split into 'First Name' and 'Last Name'
employee_df['Name'] = employee_df['Name'].astype(str)  # Convert values to strings if they aren't already
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', n=1, expand=True)

# Drop the original 'Name' column as it is no longer needed
employee_df = employee_df.drop(columns=['Name'])

# Save the updated DataFrame back to CSV (optional, for later tasks)
employee_df.to_csv('Employee_Split.csv', index=False)

# Display the updated DataFrame
print(employee_df)

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

Task 4
Join all three dataframes in one single dataframe. Name it “Final”

In [4]:
# Import necessary libraries
import pandas as pd

# Load the Employee, Seniority Level, and Project DataFrames from their respective CSV files
employee_df = pd.read_csv('Employee_Split.csv')  # Updated Employee DataFrame with separate First and Last Name columns
seniority_df = pd.read_csv('Seniority_Level.csv')
project_df = pd.read_csv('Project_Filled.csv')  # Updated Project DataFrame with missing costs filled

# Step 1: Merge Employee and Seniority Level DataFrames on the 'ID' column (common key)
# Using an inner join to keep only the matching records in both DataFrames
merged_df_1 = pd.merge(employee_df, seniority_df, on='ID', how='inner')

# Step 2: Merge the above result with the Project DataFrame on the 'ID' column to form the final DataFrame
# Using inner join again to ensure only matched records across all tables are included
final_df = pd.merge(merged_df_1, project_df, on='ID', how='inner')

# Save the Final DataFrame to a CSV file for further tasks
final_df.to_csv('Final.csv', index=False)

# Display the Final DataFrame
print(final_df)

      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project          Cost    Status
0    Project 1  1.002000e+06  Finished
1    Project 9  2.061714e+06   Ongoing
2   Project 11  2.000000e+06    Failed
3    Project 2  2.000000e+06   Ongoing
4    Project 6  6.800000e+05    Failed
5    Project 3  4.500000e+06  Finished
6    Project 8  3.500000e+05    Failed
7   Project 10  3.000000e+05  Finished
8    Project 4  5.500000e+06   Ongoing
9   Project 12  1.000000e+06   Ongoing
10  Project 13  3.000000e+06  Finished
11   Project 5  3.250500e+06  Finished
12   Project 7  4.000000e+05  Finished
13  Project 14  2.000000e+05  Finished

Task 5
Add a new bonus column in the Final dataframe. Give a 5% bonus concerning projec 
cost only to employees who have finished the project.

In [5]:
# Import necessary libraries
import pandas as pd

# Load the Final DataFrame from the saved CSV file
final_df = pd.read_csv('Final.csv')

# Add a new 'Bonus' column where 5% of the 'Cost' is calculated only for 'Finished' projects
final_df['Bonus'] = final_df.apply(lambda row: row['Cost'] * 0.05 if row['Status'] == 'Finished' else 0, axis=1)

# Save the updated Final DataFrame with the new Bonus column
final_df.to_csv('Final_with_Bonus.csv', index=False)

# Display the updated Final DataFrame
print(final_df)

      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project          Cost    Status     Bonus
0    Project 1  1.002000e+06  Finished   50100.0
1    Project 9  2.061714e+06   Ongoing       0.0
2   Project 11  2.000000e+06    Failed       0.0
3    Project 2  2.000000e+06   Ongoing       0.0
4    Project 6  6.800000e+05    Failed       0.0
5    Project 3  4.500000e+06  Finished  225000.0
6    Project 8  3.500000e+05    Failed       0.0
7   Project 10  3.000000e+05  Finished   15000.0
8    Project 4  5.500000e+06   Ongoing       0.0
9   Project 12  1.000000e+06   Ongoing       0.0
10  Project 13  3.000000e+06  Finished  150000.0
11   Project 5  3.250500e+06  Finished  162525.0
12   Project 7  4.000000e+05  Finished   20000.0
13  Project 14  2.000000e+05  Finished   10000.0

Task 6
Demote the designation level by 1, whose projects have status “fail”. Delete the employees record whose designation level is above 4.

In [11]:
# Import necessary libraries 
import pandas as pd

# Load the Final DataFrame from the saved CSV file
final_df = pd.read_csv('Final.csv')

# Step 1: Demote designation level by 1 (increase by 1) for "Failed" projects
final_df['Designation Level'] = final_df.apply(
    lambda row: row['Designation Level'] + 1 if row['Status'] == 'Failed' else row['Designation Level'], axis=1
)

# Step 2: Remove employees with a designation level above 4
final_df = final_df[final_df['Designation Level'] <= 4]

# Save the updated Final DataFrame with demotions applied and deletions handled
final_df.to_csv('Final_with_Demotions.csv', index=False)

# Display the updated DataFrame
print(final_df)

      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  3
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  3
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  4
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project          Cost    Status
0    Project 1  1.002000e+06  Finished
1    Project 9  2.061714e+06   Ongoing
2   Project 11  2.000000e+06    Failed
3    Project 2  2.000000e+06   Ongoing
4    Project 6  6.800000e+05    Failed
5    Project 3  4.500000e+06  Finished
6    Project 8  3.500000e+05    Failed
7   Project 10  3.000000e+05  Finished
8    Project 4  5.500000e+06   Ongoing
9   Project 12  1.000000e+06   Ongoing
10  Project 13  3.000000e+06  Finished
11   Project 5  3.250500e+06  Finished
12   Project 7  4.000000e+05  Finished
13  Project 14  2.000000e+05  Finished

Task 7
Add “Mr.” and “Mrs.” to the first name column and drop the gender column

In [7]:
# Import necessary libraries
import pandas as pd

# Load the Final DataFrame from the saved CSV file
final_df = pd.read_csv('Final_with_Demotions.csv')

# Step 1: Add "Mr." or "Mrs." prefix to "First Name" based on "Gender"
final_df['First Name'] = final_df.apply(
    lambda row: "Mr. " + row['First Name'] if row['Gender'] == 'M' else "Mrs. " + row['First Name'], axis=1
)

# Step 2: Drop the "Gender" column as it is no longer needed
final_df = final_df.drop(columns=['Gender'])

# Save the updated Final DataFrame with the prefixes added and the gender column removed
final_df.to_csv('Final_with_Prefix.csv', index=False)

# Display the updated DataFrame
print(final_df)

      ID     City  Age  First Name  Last Name  Designation Level     Project  \
0   A001    Paris   25    Mr. John      Alter                  2   Project 1
1   A001    Paris   25    Mr. John      Alter                  2   Project 9
2   A001    Paris   25    Mr. John      Alter                  1  Project 11
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  1   Project 6
5   A003   Berlin   29     Mr. Tom  Sabestine                  3   Project 3
6   A003   Berlin   29     Mr. Tom  Sabestine                  2   Project 8
7   A003   Berlin   29     Mr. Tom  Sabestine                  3  Project 10
8   A004  Newyork   31   Mrs. Nina      Adgra                  2   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  2  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  2  Project 13
11  A005   Madrid   30    Mrs. Amy      Johny                  3   Project 5
12  A005   Madrid   30    Mrs. Amy      Johny                  3   Project 7
13  A005   Madrid   30    Mrs. Amy      Johny                  3  Project 14

            Cost    Status
0   1.002000e+06  Finished
1   2.061714e+06   Ongoing
2   2.000000e+06    Failed
3   2.000000e+06   Ongoing
4   6.800000e+05    Failed
5   4.500000e+06  Finished
6   3.500000e+05    Failed
7   3.000000e+05  Finished
8   5.500000e+06   Ongoing
9   1.000000e+06   Ongoing
10  3.000000e+06  Finished
11  3.250500e+06  Finished
12  4.000000e+05  Finished
13  2.000000e+05  Finished

Task 8
Promote designation level by 1 for the employees whose age is more than 29 years usin 
IF condition.

In [8]:
# Import necessary libraries
import pandas as pd

# Load the Final DataFrame from the saved CSV file
final_df = pd.read_csv('Final_with_Prefix.csv')

# Step 1: Promote designation level by 1 for employees older than 29
final_df['Designation Level'] = final_df.apply(
    lambda row: row['Designation Level'] - 1 if row['Age'] > 29 and row['Designation Level'] > 1 else row['Designation Level'], axis=1
)

# Save the updated Final DataFrame with promotions applied
final_df.to_csv('Final_with_Promotions.csv', index=False)

# Display the updated DataFrame
print(final_df)

      ID     City  Age  First Name  Last Name  Designation Level     Project  \
0   A001    Paris   25    Mr. John      Alter                  2   Project 1
1   A001    Paris   25    Mr. John      Alter                  2   Project 9
2   A001    Paris   25    Mr. John      Alter                  1  Project 11
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  1   Project 6
5   A003   Berlin   29     Mr. Tom  Sabestine                  3   Project 3
6   A003   Berlin   29     Mr. Tom  Sabestine                  2   Project 8
7   A003   Berlin   29     Mr. Tom  Sabestine                  3  Project 10
8   A004  Newyork   31   Mrs. Nina      Adgra                  1   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  1  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  1  Project 13
11  A005   Madrid   30    Mrs. Amy      Johny                  2   Project 5
12  A005   Madrid   30    Mrs. Amy      Johny                  2   Project 7
13  A005   Madrid   30    Mrs. Amy      Johny                  2  Project 14

            Cost    Status
0   1.002000e+06  Finished
1   2.061714e+06   Ongoing
2   2.000000e+06    Failed
3   2.000000e+06   Ongoing
4   6.800000e+05    Failed
5   4.500000e+06  Finished
6   3.500000e+05    Failed
7   3.000000e+05  Finished
8   5.500000e+06   Ongoing
9   1.000000e+06   Ongoing
10  3.000000e+06  Finished
11  3.250500e+06  Finished
12  4.000000e+05  Finished
13  2.000000e+05  Finished

Task 9
Add the cost of all projects for each Employee and save it in new datafram 
“TotalProjCost” with three columns ID, First Name, and Total cost

In [9]:
# Import necessary libraries
import pandas as pd

# Load the Final DataFrame from the saved CSV file
final_df = pd.read_csv('Final_with_Promotions.csv')

# Step 1: Group by 'ID' and 'First Name' and sum the 'Cost' column for each employee
total_cost_df = final_df.groupby(['ID', 'First Name'], as_index=False)['Cost'].sum()

# Step 2: Rename the 'Cost' column to 'Total Cost' for clarity
total_cost_df = total_cost_df.rename(columns={'Cost': 'Total Cost'})

# Save the TotalProjCost DataFrame to a new CSV file
total_cost_df.to_csv('TotalProjCost.csv', index=False)

# Display the TotalProjCost DataFrame
print(total_cost_df)

     ID  First Name    Total Cost
0  A001    Mr. John  5.063714e+06
1  A002  Mrs. Alice  2.680000e+06
2  A003     Mr. Tom  5.150000e+06
3  A004   Mrs. Nina  9.500000e+06
4  A005    Mrs. Amy  3.850500e+06

Task 10
Print all the employee details whose city name contains the letter “o” in it.

In [10]:
# Import necessary libraries
import pandas as pd

# Load the Final DataFrame from the saved CSV file
final_df = pd.read_csv('Final_with_Promotions.csv')

# Step 1: Filter rows where the 'City' column contains the letter 'o'
employees_with_o_in_city = final_df[final_df['City'].str.contains('o', case=False)]

# Display the filtered DataFrame
print(employees_with_o_in_city)

      ID     City  Age  First Name  Last Name  Designation Level     Project  \
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  1   Project 6
8   A004  Newyork   31   Mrs. Nina      Adgra                  1   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  1  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  1  Project 13

         Cost    Status
3   2000000.0   Ongoing
4    680000.0    Failed
8   5500000.0   Ongoing
9   1000000.0   Ongoing
10  3000000.0  Finished